@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

html {
	font-family: 'Oswald';
	font-weight: 600;
}

.clickable {
  cursor: pointer;
}

section {
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding: 100px 0;
	background-color: rgb(26, 28, 27);
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	margin-bottom: 50px;
}

#main_title {
	text-align: center;
	font-size: 4rem;
	color: whitesmoke;
	margin-bottom: 0;
}

#slogan {
	text-align: center;
	font-size: 2.5rem;
	color: whitesmoke;
	margin-bottom: 0;
}

#footer {
	margin-top: auto;
	background-color: rgb(26, 28, 27);
	padding: 20px 0;
}

#footer_text {
	text-align: center;
	color: whitesmoke;
	margin: 0;
}

form {
	width: 90%;
	max-width: 400px;
	margin: 20px auto;
	background-color: rgb(223, 223, 223);
	border-radius: 4px;
}

form input {
	width: 90%;
	background-color: transparent;
	padding: 10px;
	border: none;
	outline: none;
	font-size: 2rem;
	display: inline-block;
}

form ion-icon {
	width: 20px;
	height: 20px;
	font-size: 3rem;
	margin-right: 10px;
	filter: invert(100%);
}

#search_results {
	margin-top: 50px;
	width: 100%;
	display: grid;
	grid-gap: 25px;
	grid-template: auto /repeat(auto-fit, minmax(300px, 1fr));
}

.image-container {
	display: flex;
	flex-wrap: wrap;
}

.image-container img {
	width: 33.33%;
	height: auto;
	object-fit: cover;
}

.clickable {
	cursor: pointer;
}

.item {
	max-width: 666px;
	border-radius: 8px;
	background-color: rgb(37, 37, 37);
	padding: 15px;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
}

.item img {
	width: 100%;
	height: 300px;
	border-radius: 4px;
	object-fit: cover;
}

.item.flex-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.item h2 {
	color: whitesmoke;
	margin: 20px 10px 0 0;
	font-size: 1.8rem;
	font-weight: 400;
}

.view-button {
	text-decoration: none;
	text-align: center;
	width: 130px;
	padding: 10px 0;
	background-color: 44041;
	color: white;
	font-size: 1.4rem;
	margin-top: 20px;
	align-self: flex-start;
}

.item-data {
	color: whitesmoke;
	display: block;
	margin-top: 10px;
	font-size: 1.4rem;
	letter-spacing: .05rem;
	line-height: 2rem;
}

#no_result{
    color: black;
    background: rgba(255, 255, 255, .2);
    text-align: center;
    font-size: 2rem;
    border-radius: 0.2em;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: black;
  color: white;
}

#header h1 {
  margin: 0;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  margin: 0rem;
  overflow: hidden;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%); 
  user-select: none; /* -- Prevent image highlighting -- */
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}

/* -- YouTube Link Styles -- */

body.menu-toggled > .meta-link > span {
  color: rgb(30, 30, 30);
}

#source-link {
  bottom: 60px;
}

#source-link > i {
  color: rgb(94, 106, 210);
}

#yt-link > i {
  color: rgb(239, 83, 80);
}

.meta-link {
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  bottom: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;  
  display: inline-flex;
  gap: 5px;
  left: 10px;
  padding: 10px 20px;
  position: fixed;
  text-decoration: none;
  transition: background-color 400ms, border-color 400ms;
  z-index: 10000;
}

.meta-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.meta-link > i, .meta-link > span {
  height: 20px;
  line-height: 20px;
}

.meta-link > span {
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}